body {
    font-family: "Poppins", sans-serif;
}

.section {
    margin-bottom: 144px;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* header */

.header {
    padding: 33px 0 33px 0;
    border-bottom: 1px solid #E9EEF2;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav */

.nav-wrapper {
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: center;
}

.nav__list .nav__link {
    text-decoration: none;
    color: #212A53;
    font-weight: 500;
}

.nav__btn {
    display: inline-flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2px;
    background-color: #2C4FA3;

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}

/* intro */

.section-intro {
    border-bottom: 1px solid #E9EEF2;
}

.intro {
    position: relative;
}

.intro-inner {
    padding: 182px 0 182px 0;
    position: relative;
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.intro__background {
    margin-top: 186px;
    position: absolute;
    width: 770px;
    height: 688px;
    background-image: url(../img/backgrounds/intro-background.png);
    background-repeat: no-repeat;
    border-radius: 6px;
    top: -150px;
    right: 0;
}

.intro__title {
    width: 545px;
    font-size: 64px;
    font-weight: 600;
    line-height: 116%;
    letter-spacing: -2.56px;
}

.intro__btn {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 2px;
    background-color: #2C4FA3;
    
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* health */

.health {
    padding: 80px 120px 80px 120px;
    background-color: #F6F8FB;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

/* journey */

.journey {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.journey__subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #45A1F5;
    letter-spacing: -0.48px;
}

.journey__title {
    width: 550px;
    font-size: 46px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -1.84px;
}

.journey__text {
    margin-bottom: 48px;
    width: 550px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.36px;
    color: #4F577B;
}

.journey__background {
    width: 550px;
    height: 411px;
    border-radius: 4px;
    background: url(../img/backgrounds/journey.png) lightgray 50% / cover no-repeat;
}

/* benefits */

.benefits {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background-color: #FFF;
}

.benefits__item {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.benefits__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.benefits__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.48px;
    color: #0E1121;
}

.benefits__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.36px;
    color: #4F577B;
}

.benefits__btn {
    margin-top: 16px;
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background-color: #2C4FA3;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;
    cursor: pointer;
}

/* partner */

.partner__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner__subtitle {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.48px;
    color: #45A1F5;
}

.partner__title {
    font-size: 46px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -1.84px;
    color: #0E1121;
}

.partner__text {
    margin: 16px 0 64px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.36px;
    color: #4F577B;
}

/* offers */

.container-offers {
    width: 1200px;
}

.offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offers__item {
    padding: 32px;
    border: 1px solid #CED4D9;
    border-radius: 6px;
}

.offers__item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #212A53;
    border: none;
}

.offers__line {
    margin: 24px 0 24px 0;
    border: none;
    height: 1px;
    background: #CED4D9;
}

.offers__title {
    margin-bottom: 16px;
    width: 316px;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.48px;
    color: #0E1121;
}

.offers__title-color {
    color: #FFF;
    font-size: 32px;
}

.offers__text {
    width: 260px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.36px;
    color: #4F577B;
}

.offers__btn {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: none;
    background-color: #45A1F5;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}